{% extends "layout.html" %}
{% block content %}
<h1>Vincular Portales</h1>
<div class="contenedor-mundo">
  <div class="mundo">

    <img class="img-portal" src="{{url_for('static', filename='imagenes/overworld-pedazo.png')}}" alt="Overworld">
    <h3 class="retardo">Overworld</h3>
    <div class="mundo-cont-inputs">

      <div class="mundo-inputs">
        <div>
          <label class="retraso retardo" for="grupo1Casillero1">X :</label>
          <input class="retraso retardo" type="number" id="grupo1Casillero1" oninput="actualizarGrupo1()" />
        </div>
        <div>
          <label class="retraso retardo" for="grupo1Casillero2">Y :</label>
          <input class="retraso retardo" type="number" id="grupo1Casillero2" oninput="actualizarGrupo1()" />
        </div>
        <div>
          <label class="retraso retardo" for="grupo1Casillero3">Z :</label>
          <input class="retraso retardo" type="number" id="grupo1Casillero3" oninput="actualizarGrupo1()" />
        </div>
      </div>
    </div>
    <div class="coord-copiar">
      <span class="retraso retardo" id="grupo1CasilleroTexto"></span>
      <button class="retraso retardo" onclick="copiarContenido('grupo1CasilleroTexto')">Copiar</button>
    </div>
  </div>
  
  <div class="mundo">

    <img class="img-portal" src="{{url_for('static', filename='imagenes/nether-pedazo.png')}}" alt="Overworld">
    <h3 class="retardo">Nether</h3>
    <div class="mundo-cont-inputs">
      <div class="mundo-inputs">
        <div>
          <label class="retraso retardo" for="grupo2Casillero1">X :</label>
          <input class="retraso retardo" type="number" id="grupo2Casillero1" oninput="actualizarGrupo2()" />
        </div>
        <div>
          <label class="retraso retardo" for="grupo2Casillero2">Y :</label>
          <input class="retraso retardo" type="number" id="grupo2Casillero2" oninput="actualizarGrupo2()" />
        </div>
        <div>
          <label class="retraso retardo" for="grupo2Casillero3">Z :</label>
          <input class="retraso retardo" type="number" id="grupo2Casillero3" oninput="actualizarGrupo2()" />
        </div>
      </div>
    </div>
    <div class="coord-copiar">
      <span class="retraso retardo" id="grupo2CasilleroTexto"></span>
      <button class="retraso retardo" onclick="copiarContenido('grupo2CasilleroTexto')">Copiar</button>
    </div>
  </div>

</div>

<script src="{{url_for('static', filename='js/portales.js')}}"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  var elementosRetrasados = document.querySelectorAll(".retardo");
  var retraso = 1000; // Retraso de 1 segundo (ajústalo según sea necesario)

  elementosRetrasados.forEach(function(elemento) {
    elemento.style.visibility = "hidden";
    setTimeout(function() {
      elemento.style.visibility = "visible";
    }, retraso);
  });
});


</script>

{% endblock %}
